*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color:rgb(165, 165, 225);
    width: 100vw;

}
.links ul{
    display: flex;

}
.links ul li{
    margin: 1rem;
    padding: 3rem 0;
}
.links ul li a{
    text-decoration: none;
    color: white;
    padding: 0.5rem;

}
.links ul li a:hover{
    background-color:rgb(165, 165, 225);

}
.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:darkblue;
    width: 100vw;
}
.heading h1{
    margin-bottom: 20px;
}
#hd{
    color: white;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;


}
.btn button{
    padding: 15px 20px;
    border-radius: 5px;
    background-color:darkblue;
    cursor: pointer;
    color: white;
}
.btn button:hover{
background-color: rgb(165, 165, 225);
}
form{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    display: none;
}
form input{
    width: 80%;
    margin: 7px;
    padding: 10px;
    border-radius: 5px;

}
form textarea{
    width: 80%;
    margin: 7px;
    padding: 10px;
    border-radius: 5px;

}
form button{
    margin: 7px;
    padding: 10px 20px;
    border-radius: 5px;
}
.eventListing{
    flex-wrap: wrap;

}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: grey solid 1px;
    padding: 1rem;
    width: auto;
    margin: 2rem 2rem;
    box-shadow: 3px 4px black;
    flex-wrap: wrap;

  }
  .container span{
      color: white;
      font-size: 25px;
  }
 #details{
     width: 30%;
     word-wrap:break-word;
 }
 #title{
     color: red;
 }
.bt{
    border-radius: 5px;
    background-color: darkblue;
    padding: 5px;
    color: white;
    margin-left: 30px;
    cursor: pointer;
}
.bt:hover{
    background-color: rgb(165, 165, 225);
}
.contact{
    background-color: darkblue;
}


 .contact h1{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 1rem;
     font-size: 2rem;
     color: white;
     border-top: 1px solid white;

 }
 .title{
    color:black;
}
.social{
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.mynumber ul li {
    list-style: none;
    display: flex;
    margin-bottom: 2rem;
    color: white;


}
.mynumber ul li i{
    margin-right: 1rem;
    color: white;


}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social-media i{
    margin: 1.5rem;
    color: white;
}

